<div class="page-header">
	<h2>Create and view words</h2>
</div>
<div class="row">
	<div class="col-md-12">
		<div class="well" style="height: 100px;">
			<form class="form">
				<div class="form-group">
					<div class="col-sm-10">
						<input type="text" class="form-control" id="create"
							placeholder="word text" ng-model="text" />
					</div>
					<div class="col-sm-2 text-right">
						<a href="" class="btn btn-success"  ng-click="createWord()"> <i
							class="fa fa-plus-sign"></i> create word
						</a>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<table class="table">
			<tr>
				<th>Name</th>
			</tr>
			<tr ng-repeat="word in words">
				<td>{{word.text}}</td>
			</tr>
		</table>
	</div>
</div>